{% extends 'layout.html' %}
{% block content %}
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Sobre</title>
</head>
<body>
<h2 style="padding: 15px;">ttCrimes Detector</h2>
<p style="padding: 30px; text-align: justify;">
Sistema de avaliação do nível de segurança nos estados brasileiros, mediante análise de textos publicados em redes
sociais, uma vez que, segundo o Instituto de Pesquisa e Estatística Aplicada, estudos sobre a segurança pública servem
de indicador para o estado estruturar melhor suas políticas. O principal objetivo do projeto é conceber uma ferramenta
capaz de mapear o território nacional de acordo com os tipos de crime citados entre as publicações analisadas, gerando
assim, insumo para os gestores públicos entenderem melhor a demanda da população brasileira. Para tal, foram coletados
alguns textos cujo tema se relacionava com criminalidade. Esses foram processados por algoritmos de preparação e análise
textual, a fim de se obter informações significativas para a construção de um dataset, e posteriormente um mapa com os
principais pontos associados à violência, disponibilizado em uma página web. Constatou-se, ao final do projeto, que em
algumas regiões os resultados obtidos se aproximaram de dados apresentados em levantamentos oficiais, podendo ser
considerada uma fonte válida de informação.
</p>
</body>
</html>
{% endblock %}
