<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container" >

  <table class="table"  style= " width: 200px; position: absolute; right: 160px; top: 130px;">
    <thead>
    <tr> <h2 style="position: absolute; right: 160px; top: 70px;">Top Crimes</h2> </tr>
      <tr>
        <th>Posição</th>
        <th>Crime</th>
      </tr>
    </thead>
    <tbody>
      <tr bgcolor="#81F79F">
        <td>#1</td>
        <td>Assassinato</td>
      </tr>
      <tr bgcolor="blue">
        <td>#2</td>
        <td>Assalto</td>
      </tr>
      <tr bgcolor="red">
        <td>#3</td>
        <td>Agressão</td>
      </tr>
      <tr bgcolor="pink">
        <td>#4</td>
        <td>Porte de Arma</td>
      </tr>
      <tr bgcolor="#A4A4A4">
        <td>#5</td>
        <td>Arrombamento</td>
      </tr>
      <tr bgcolor="#F3F781">
        <td>#6</td>
        <td>Furto</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>